@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fontsource/merriweather';
@import '@fontsource/rubik';

:root {
	--transition-duration: theme(transitionDuration.DEFAULT);
	--transition-animation: theme(transitionTimingFunction.DEFAULT);
}

.light {
	--foreground: 32, 32, 32;
	--background: 242, 240, 227;

	color: rgba(var(--foreground));
	background: rgba(var(--background));
}

.dark {
	--background: 32, 32, 32;
	--foreground: 242, 240, 227;

	color: rgba(var(--foreground));
	background: rgba(var(--background));
}

.font-fancy {
	font-family: 'Merriweather', sans-serif;
}

.font-minimal {
	font-family: 'Rubik', sans-serif;
}

.no-scrollbar {
	scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
	width: 0;
	height: 0;
}

/*  FIX: Remove all theme transitions for now, as they only cause issues */
* {
	/*transition: background-color var(--transition-duration) var(--transition-animation);*/

	@apply font-minimal;
}

/*:is(.light, .dark) {*/
/*	transition-property: background-color, color, border;*/
/*}*/
